@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SFProDisplay";
    font-weight: 300;
    font-style: normal;
    src: url("./SF-Pro-Display-Light.otf") format('opentype');
  }

  @font-face {
    font-family: "SFProDisplay";
    font-weight: 400;
    font-style: normal;
    src: url("./SF-Pro-Display-Regular.otf") format('opentype');
  }

  @font-face {
    font-family: "SFProDisplay";
    font-weight: 500;
    font-style: normal;
    src: url("./SF-Pro-Display-Medium.otf") format('opentype');
  }

  @font-face {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-style: normal;
    src: url("./SF-Pro-Display-Semibold.otf") format('opentype');
  }

  @font-face {
    font-family: "SFProDisplay";
    font-weight: 700;
    font-style: normal;
    src: url("./SF-Pro-Display-Bold.otf") format('opentype');
  }

  :host {
    all: initial;
  }

  /*
    pointer events are disabled for shadow root to allow interaction with page underneath
    reset to auto for all direct children to allow interaction with react components
  */
  :host .pointer-events-none > * {
    pointer-events: auto;
  }

  * {
    @apply focus:outline-none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .image {
    @apply self-center block max-w-full max-h-full;
  }

  .text-gradient-purple {
    @apply text-transparent bg-clip-text bg-gradient-purple
  }

  .text-gradient-pink-lighter {
    @apply text-transparent bg-clip-text bg-gradient-pink-lighter
  }

  .text-gradient-pink {
    @apply text-transparent bg-clip-text bg-gradient-pink
  }
}
