:root {
  --background-color: #36393f;
  --text-color: #dcddde;
}
.server-bar {
  display: flex;
  flex-direction: column;
  width: 3rem;
  background-color: #2c2f33;
  color: #dcddde;
  padding: 10px;
  border-right: 1px solid #4f545c;
}

.server-bar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.server-bar h1 {
  margin: 0;
  font-size: 1rem;
}

.server-bar_content {
  display: flex;
  flex-direction: column;
}

.server-bar_content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.server-bar_content li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.server-bar_content li:focus,
.server-bar_content li:hover {
  background-color: #4f545c;
}

.server-bar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.server-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}
